[submodule "mossSandbox"]
	path = mossSandbox
	url = https://github.com/coding610/mossSandbox
[submodule "mossCore"]
	path = mossCore
	url = https://github.com/coding610/mossCore
[submodule "mossUI"]
	path = mossUI
	url = https://github.com/coding610/mossUI
[submodule "mossBuilder"]
	path = mossBuilder
	url = https://github.com/coding610/mossBuilder
