[submodule "core"]
	path = core
	url = https://github.com/coding610/mossCore
[submodule "ui"]
	path = ui 
	url = https://github.com/coding610/mossUI
[submodule "sandbox"]
	path = sandbox 
	url = https://github.com/coding610/mossSandbox
[submodule "extensions"]
	path = extensions
	url = https://github.com/snbohman/mossCoreExtensions
