[submodule "core"]
	path = core
	url = https://github.com/snbohman/mossCore
    branch = main
[submodule "ui"]
	path = ui 
	url = https://github.com/snbohman/mossUI
    branch = main
[submodule "sandbox"]
	path = sandbox 
	url = https://github.com/snbohman/mossSandbox
    branch = main
[submodule "extensions"]
	path = extensions
	url = https://github.com/snbohman/mossCoreExtensions
    branch = main
